---
import Run from "../components/Run.astro";

const runsData = await import(`../data/21.json`);

interface Run {
  date: string;
  training: {
    summary: { distance: string; time: string };
    details: {
      title: string;
      description?: {};
    }[];
  };
}
const runs: Run[] = runsData.runs;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>21K</title>
  </head>

  <body>
    <main class="grid ml-10 mr-10">
      <ul class="list-disc list-inside">
        {
          runs.map((itm: Run, index: number) => (
            <li class="my-4">
              Day {index + 1}: {itm.training.summary.distance}
              {itm.training.details.map(
                (detail: { title: string; description?: {} }) => (
                  <Run
                    title={detail.title}
                    desc={detail.description}
                    done={itm.date}
                  />
                )
              )}
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
